<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @ride_owner.email %>, you have a ride request. </h1>
    <p>
     <%= @req_user.email %> has requested that they carpool with you for your trip from <%= @ride.Start_Address %> to <%= @ride.End_Address %>
    </p>
    <p>
      To approve this request, click this link: <a href="<%= @token %>">Confirmation Link</a>.
    </p>
    <p>Please contact the requester directly via email to address any issues or concerns.</p>
  </body>
</html>