<h3>Ride Search</h3>
<%= form_tag({controller: "ride", action: "results"}, method: "get") do %>
  <%= label_tag(:Start_Address) %>
  <%= text_field_tag(:Start_Address) %><br/>

  <%= label_tag(:End_Address) %>
  <%= text_field_tag(:End_Address) %><br/>

  <%= label_tag(:Time) %>
  <%= select_date nil, prompt: true, prefix: "Time" %><br/>

  <%= submit_tag("Search") %>
<% end %>