<h2>All Rides</h2>
<p>There are <%= @ride.length %> rides</p>
<table>
  <tr>
    <th>Start Address</th><th>End Address</th><th>Date</th><th>Seat</th><th>Preferences</th><th>Price</th>
  </tr>
<% @ride.each do |ride| %>
  <tr>
    <td><%= ride.Start_Address %></td> <td><%= ride.End_Address %></td> <td><%= ride.Time %></td>
    <td><%= ride.seat_count %></td> <td><%= ride.preferences %></td> <td><%= ride.price %></td>
  </tr>
<% end %>
</table>