<h2>Add Ride</h2>
<%= form_for @ride, url: {action: "create"} do|f| %>

<%= f.label :Start_Address %>
<%= f.text_field :Start_Address %><br/>

<%= f.label :End_Address %>
<%= f.text_field :End_Address %><br/>

<%= f.label :Time %>
<%= f.date_select :Time %><br/>

<%= f.submit "Create" %>
<% end %>
