<h2>Ride Search</h2>
<%= form_tag({controller: "ride", action: "results"}, method: "get") do %>
  <%= label_tag(:Start_Address) %>
  <%= text_field_tag(:Start_Address) %><br/>

  <%= label_tag(:End_Address) %>
  <%= text_field_tag(:End_Address) %><br/>

  <%= label_tag(:Time) %>
  <%= select_date nil, prompt: true, prefix: "Time" %><br/>
  
  <%= label_tag(:seat_count) %>
  <%= text_field_tag(:seat_count) %><br/>
  
  <%= label_tag(:preferences) %>
  <%= text_field_tag(:preferences) %><br/>
  
  <%= label_tag(:price) %>
  <%= text_field_tag(:price) %><br/>

  <%= submit_tag("Search") %>
<% end %>