<%= javascript_tag defer: 'defer' do -%>
  alert('All is good')
<% end -%>
<h3>Ride Added</h3>
<p>You added:</p>
<table>
  <tr>
    <th>Start Address</th><th>End Address</th><th>Date</th><th>Seat</th><th>Preferences</th><th>Price</th>
  </tr>
  <tr>
    <td><%= @ride.Start_Address %></td> <td><%= @ride.End_Address %></td> <td><%= @ride.Time %></td>
    <td><%= @ride.seat_count %></td> <td><%= @ride.preferences %></td> <td><%= @ride.price %></td>
  </tr>
</table>
