<!DOCTYPE html>
<html>
<head>
  <title>CVTCRideShare</title>
  <%= stylesheet_link_tag    "bootstrap", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "bootstrap", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <div class-"container">
      <header>
        <h1>CVTC RideShare</h1>
      </header>
      <section class-"content">
        <nav>
          
        </nav>
        <%= yield %>
      </section>
      <footer>
        <h4>Copyright <%=Date.today.year %></h4>
      </footer>
    </div>
  </body>
</html>
